:root {
  --colorform: purple;
}
*,
canvas {
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
canvas {
  position: relative;
  background-color: black;
}
.scoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.scoreContainer h3 {
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.gameTitle {
  display: flex;
  align-items: flex-end;
}
.gameTitle img {
  width: 30px;
  object-fit: contain;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  display: grid;
  visibility: visible;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalInfo {
  width: 0;
  height: 0;
  display: flex;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  flex-direction: column;
  background: white;
}
.modalInfoActive {
  width: 300px;
  height: 200px;
}
.modalInfo__top {
  background-color: #7cdf64;
  padding: 0.5rem 1rem;
  text-align: center;
}
.modalInfo__center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.finalscore span {
  margin-right: 5px;
  color: white;
}
.finalscore {
  max-height: 50px;
  display: flex;
  padding: 0.5rem;
  width: 116px;
  max-width: 130px;
  justify-content: center;
  border-radius: 10px;
}
.finalscore:first-child {
  flex: 1;
}
.yourscore {
  background-color: #6610f2;
}
.highestscore {
  background-color: #e6c229;
}
.modalInfo__bottom {
  text-align: center;
}
.modal__buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.modal__buttons button {
  padding: 0.4rem 2rem;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  background-color: #7cdf64;
}

.modal__buttons button:hover {
  background-color: black;
}
#mobile_btns {
  display: none;
  position: relative;
  justify-content: center;
}
#mobile_btns span i {
  font-size: 2rem;
  transition: all 200ms ease-in-out;
}
#mobile_btns span i:hover {
  color: #7cdf64;
}
.vertical_arrows {
  display: flex;
  flex-direction: column;
  top: 10px;
  z-index: 100;
  min-height: 100px;
}
.vertical_arrows span:first-child {
  margin-bottom: 2rem;
}
.horizontal_arrows span:first-child {
  margin-right: 2rem;
}
.horizontal_arrows {
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: space-between;
}
/*form */
.form {
  min-width: clamp(300px, 40vw, 400px);
  min-height: 400px;
  background-color: white;
  padding: 0.5rem;
}
.form__top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form__top i {
  position: absolute;
  right: 0;
  top: 10px;
}
.form__top h2 {
  font-weight: 500;
  margin-right: 20px;
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #000a42;
}
.form__bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.form__bottom form {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}
.form__bottom form input {
  min-width: clamp(200px, 40vw, 400px);
  padding: 0.5rem 0.2rem;
  outline-style: none;
  border: none;
  border-bottom: 1px solid;
}
.form__bottom form div {
  display: block;
  margin-bottom: 0.5rem;
}

.form__bottom form div::after {
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--colorform);
  content: "";
  transition: all 400ms ease-in-out;
}
.form__bottom form div:focus-within:after {
  width: 100%;
}
.form__bottom button {
  padding: 0.5rem 0;
  outline: none;
  margin-top: 2rem;
  border: none;
  font-weight: 500;
  background-color: #eee5e9;
}
.form__bottom button:hover {
  background-color: var(--colorform);
  color: white;
}
.form__bottom p {
  margin-top: 0.5rem;
}
.spanlink {
  color: var(--colorform);
  font-weight: 600;
  cursor: pointer;
}
